<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-md-6 offset-md-3 mb-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title text-center">Edit Plant</h5>

                <form action="/plants/<%= plant._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div class="mb-3" >
                        <label class="form-label" for="common">Common Name</label>
                        <input class="form-control" type="text" id="common" name="plant[common_name]" value="<%= plant.common_name %>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="scientific">Scientific Name</label>
                        <input class="form-control" type="text" id="scientific" name="plant[scientific_name]" value="<%= plant.scientific_name %>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="duration">Duration</label>
                        <input class="form-control" type="text" id="duration" name="plant[duration]" value="<%= plant.duration %>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="date">Date Repotted</label>
                        <input class="form-control" type="date" id="date" name="plant[date_planted]" value="<%= plant.date_planted %>" min="1900-01-01" max="<%= new Date().toISOString().split('T')[0] %>" required>
                    </div>
                    <div class="input-group">
                        <input type="file" class="form-control" id="image" name="image" multiple>
                        <label for="image"></label>
                    </div>

                    <div class="mt-4 mb-1">
                        <span>Delete Files</span>
                    </div>

                    <div class="mb-3 d-flex flex-wrap justify-content-evenly">
                        <% plant.images.forEach(function(img, i) { %>
                            <img src="<%= img.edit_card %>" class="img-thumbnail" alt="">
                            <div class="form-check-inline ml-0">
                                <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                            </div>
                        <% }) %>
                    </div>

                    <div class="mb-3 text-center">
                        <button class="btn btn-success" >Update Plant</button>
                        <a class="btn btn-info" href="/plants/<%= plant._id%>">Plant Details</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
